---
import Action from "../Action.astro";
---

<section class="relative flex items-center min-h-[calc(100vh_-_9rem)]">
  <div
    class="relative flex w-full h-full flex-1 items-center justify-center border-b-black md:items-stretch md:justify-between"
  >
    <div
      class="max-w-96 relative flex-1 z-10 py-40 backdrop-opacity-10 bg-gradient-to-r from-white to-transparent from-50% to-100%"
    >
      <h1
        class="text-6xl pb-5 max-w-[14ch] mx-auto text-center md:mx-0 md:text-start"
      >
        HACE TUS PREDICCIONES
      </h1>
      <p
        class="text-2xl pb-5 leading-6 text-center text-balance mb-2 md:text-start"
      >
        Comenza a demostrar tu conocimiento y ponete a prueba prediciendo y
        comparando con los resultados oficiales de la <span
          class="text-[#F22C2C]">COPA AMERICA USA</span
        >
        <span class="text-[#5896E3]">2023</span>
      </p>

      <div class="flex flex-col gap-2 items-center md:flex-row md:items-start">
        <Action id="login" class="flex" theme="dark" as="a" href={"predicts"}
          >INICIA SESIÓN CON GOOGLE <span
            ><img class="w-8" src="/google_icon.png" /></span
          ></Action
        >
      </div>
    </div>
    <img
      class="absolute mask-bg-fade-bottom hidden mask-bg-fade-left md:block -z-10 right-0 bottom-0 sm:max-w-2xl"
      src="/jugadores_frente.webp"
    />
  </div>
</section>
<script>
  document.addEventListener("astro:page-load", () => {
    const $loginBtn = document.querySelector("#login");

    $loginBtn?.addEventListener("click", () => {
      const width = 600;
      const height = 700;
      const left = window.innerWidth / 2 - width / 2;
      const top = window.innerHeight / 2 - height / 2;

      window.open(
        "/auth/google",
        "Google login",
        `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`
      );

      $loginBtn.setAttribute("aria-disabled", "true");
      $loginBtn.textContent = "Iniciando sesión...";

      setTimeout(() => {
        $loginBtn.removeAttribute("aria-disabled");
        $loginBtn.textContent = "¡Inicia sesión para participar!";
      }, 3000);
    });
  });
</script>
<style>
  @media (max-width: 1080px) {
    .mask-bg-fade-left {
      mask-image: linear-gradient(to left, black 50%, transparent 99%);
    }
  }
  .mask-bg-fade-bottom {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
</style>
