---
import Action from "../Action.astro";
---

<h1>Hace tu prediccion</h1>
<Action id="logout" as="button" theme="white">Cerrar sesión</Action>
<script>
  const { signOut } = await import("auth-astro/client");
  document.addEventListener("astro:page-load", () => {
    const $logoutBtn = document.querySelector("#logout") as HTMLButtonElement;
    $logoutBtn?.addEventListener("click", () => signOut());
  });
</script>
