---
import UpcomingMatchCard from "../components/UpcomingMatchCard.astro";
import Layout from "../layouts/Layout.astro";
import Action from "../components/Action.astro";
import TeamFlagCard from "../components/TeamFlagCard.astro";

import teams from "../../public/teams.json";
---

<Layout title="Coam">
  <section class="relative py-40 border-b-[3px] border-black">
    <h1
      class="text-6xl max-w-[14ch] mb-10 mx-auto text-center md:mx-0 md:text-start"
    >
      PREDICCIONES COPA AMERICA
      <span class="text-[#F22C2C]">USA</span>
      <span class="text-[#5896E3]">2023</span>
    </h1>

    <div class="flex flex-col gap-2 md:flex-row">
      <Action theme="dark" as="a" href={"predicts"}
        >HACE TUS PREDICCIONES</Action
      >

      <Action theme="white" as="a" href={"fixture"}>FIXTURE</Action>
    </div>
    <img class="absolute hidden md:block right-0 bottom-0" src="/hero.webp" />
  </section>
  <section class="py-16">
    <h2 class="text-6xl text-center mb-20">Proximos partidos</h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <UpcomingMatchCard
        teamA="Argentina"
        teamB="Brasil"
        date={{ day: "Hoy", time: "22:00" }}
      />
      <UpcomingMatchCard
        teamA="Argentina"
        teamB="Brasil"
        date={{ day: "Hoy", time: "22:00" }}
      />
      <UpcomingMatchCard
        teamA="Argentina"
        teamB="Brasil"
        date={{ day: "Hoy", time: "22:00" }}
      />
    </ul>
  </section>
  <section class="py-16">
    <h2 class="text-6xl text-center mb-20">Selecciones</h2>

    <ul class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
      {teams.map((team) => <TeamFlagCard team={team} />)}
    </ul>
  </section>
  <footer class="h-16 text-lg flex items-center justify-center">
    <span
      >Hecho por <a
        class="border-b-2 border-transparent hover:border-black transition-colors"
        target="_blank"
        href="https://github.com/joaquinvesapa">Joaquin</a
      > y <a
        class="border-b-2 border-transparent hover:border-black transition-colors"
        target="_blank"
        href="https://github.com/guidocarda">Guido</a
      > con ♥
    </span>
  </footer>

  <style></style>
</Layout>
