---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import 'nes.css/css/nes.min.css';

---

<Layout title="coam">
	<main>
    <span class="nes-text is-primary">Primary</span>
    <span class="nes-text is-success">Success</span>
    <span class="nes-text is-warning">Warning</span>
    <span class="nes-text is-error">Error</span>
    <span class="nes-text is-disabled">Disabled</span>
	</main>
</Layout>

<style>
	
</style>
