---
import Layout from "../layouts/Layout.astro";
import TEAMS from "../../public/teams.json";
import TeamFlagCard from "../components/TeamFlagCard.astro";
---

<Layout title="Selecciones">
  <section class="py-16">
    <h2 class="text-6xl text-center mb-20">Selecciones</h2>

    <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {TEAMS.map((team) => <TeamFlagCard team={team} />)}
    </ul>
  </section>
</Layout>
