---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;

const { as: Tag, class: className, ...props } = Astro.props;
---

<div class="bg-black/90 rounded-md">
  <Tag
    class:list={[
      "flex justify-center items-center",
      " h-14 px-10",
      "bg-black text-white text-xl rounded-md",
      "hover:-translate-y-1 hover:-translate-x-1 transition-all active:scale-[.99]",
      className,
    ]}
    {...props}
  >
    <span class="inline-block"><slot /></span>
  </Tag>
</div>
