<header class="max-w-screen-lg mx-auto text-lg px-4 lg:px-0">
  <div
    class="border-[3px] border-black h-16 px-6 w-full mt-4 rounded-md flex items-center justify-between"
  >
    <a href="/" class="group flex gap-2 items-center">
      <span class="text-2xl tracking-wider">COAM</span>
      <img
        src="/icons/cup.webp"
        class="h-4 w-4 transition-transform group-hover:-translate-y-0.5 group-hover:scale-105"
        alt=""
      />
    </a>
    <nav class="flex gap-6 uppercase text-xl">
      <a
        href="/fixture"
        class="hover:text-[#5896E3] transition-all duration-150">Fixture</a
      >
      <a href="/teams" class="hover:text-[#5896E3] transition-all duration-150"
        >Selecciones</a
      >
      <a
        href="/predicts"
        class="hover:text-[#5896E3] transition-all duration-150">Predicciones</a
      >
    </nav>
  </div>
</header>
