<header class="max-w-screen-lg mx-auto text-lg px-4 lg:px-0">
  <div
    class="border-[3px] border-black h-16 px-6 w-full mt-4 rounded-md flex items-center justify-between"
  >
    <a href="/">
      <span class="text-2xl font-bold">COAM</span>
    </a>
    <nav class="flex gap-6 uppercase text-xl">
      <a
        href="fixture"
        class="hover:text-[#5896E3] transition-all duration-150"
        href="#">Fixture</a
      >
      <a
        href="predicts"
        class="hover:text-[#5896E3] transition-all duration-150"
        href="#">Selecciones</a
      >
      <a
        href="teams"
        class="hover:text-[#5896E3] transition-all duration-150"
        href="#">Predicciones</a
      >
    </nav>
  </div>
</header>
