---
import { Image } from "astro:assets";

interface Props {
  team: {
    id: number;
    name: string;
    acronym: string;
    image: string;
  };
}

const { team } = Astro.props;
---

<li class="bg-black/90 group transition-transform border-black rounded-md">
  <a
    href={`/teams/${team.name.toLowerCase()}`}
    class="border-[3px] overflow-hidden border-black rounded-md grid transition-transform place-content-center h-full relative group-hover:-translate-y-1 group-hover:-translate-x-1"
  >
    <img
      decoding="async"
      transition:name={`flag-${team.name.toLowerCase()}`}
      src={`https://cdn.loficenter.lol/flags/${team.image}`}
      class="aspect-video"
      alt=""
    />
    <h3 class="capitalize bg-black text-white text-3xl w-full text-center">
      {team.name}
    </h3>
  </a>
</li>
