---
import { Image } from "astro:assets";

interface Props {
  team: {
    id: number;
    name: string;
    acronym: string;
    image: string;
  };
}

const { team } = Astro.props;
---

<li
  class="relative cursor-pointer group border-[3px] rounded-md overflow-hidden border-black hover:scale-[1.005] transition-all"
>
  <a href={`/teams/${team.name.toLowerCase()}`}>
    <img
      decoding="async"
      transition:name={`flag-${team.name.toLowerCase()}`}
      src={`https://cdn.loficenter.lol/flags/${team.image}`}
      class="grayscale-[50%] aspect-video object-cover group-hover:grayscale-0"
      alt=""
    />
    <h3
      class="absolute group-hover:-translate-y-full transition-transform capitalize bg-black border-2 border-black text-white text-3xl w-full text-center"
    >
      {team.name}
    </h3>
  </a>
</li>
